.container{
    margin: 0 auto;
    width: 960px;
}

body{
    background-color: #FF0404;
    padding: 15px; font-family: Arial,
    Helvetica, sans-serif; 
}

header{
    width: 100%;
    height: 60px;
    padding: 4px;  
}

#logo{
    width: 360px;
    height: 66px;
    float: left;
    padding: 8px;
}

#logo img{
    float: left;
    width: 50px; 
}

#logo h1{
    float: left;
    width: 280px;
    color: #340505;
}

#carrinho{
    float: right;
    width: 160px;
    height: 56px;
    padding: 10px;
}

#carrinho p{
    color: #340505;
    float: left;
}

#carrinho img{
    width: 50px;
    float: left;
}

section{
    width: 950px;
    height: 520px;
    margin: 0 auto;
}

article {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

article ul {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    list-style: none;
}

article ul li{
    width: 280px;
    height: 285px;
    background-color: #AD0101;
    border-radius: 8px;
    padding: 2px;
    margin: 6px;
    float: left;    
    display: inline;
    margin: 12px;
}

article img{
    width: 260px;
    height: 170px;
    border-radius: 8px;
    padding: 8px;
    float: left;
}

article h2{
    font-size: 24px;
    font-weight: bold;
    color: #F2E7E7;
    padding: 8px;
    width: 260px;
    height: 25px;
    float: left;
    margin-top: -10px;
}

article h3{
    font-size: 12px;
    margin-bottom: -10px;
}

article p{
    font-size: 14px;
    color: #F2E7E7;
    padding: 8px;
    width: 260px;
    height: 20px;
    float: left;
    margin-top: -30px;
}

article span{
    font-size: 24px;
    font-weight: bold;
    color: #F2E7E7;
    padding: 8px;
    width: 260px;
    height: 25px;
    float: left;
    margin-top: -15px;
}

footer p{
    text-align: center;
}

.adiciona_pizza img{
    float: right;
    width: 36px;
    height: 36px;
    margin: -30px 0;
}

table{  
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}


td{
    padding: 4px;
    border: 1px solid;
}

.exclui_item img{
    width: 25px;
    height: 25px;
}


button{
    background-color: #068F14;
    border: 0;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
}


label{
    color: #FFEEEE;
}

.btn_final_pedido{
    background-color: #068F14;
    padding: 10px;
    border-radius: 8px;
}

.btn_final_pedido a{
    text-decoration: none;
    color: #F2E7E7;
}

.form_cliente{
    width: 100%;
    background-color: #AD0101;
    border-radius: 8px;
    padding: 10px;
    float: left;
}

input{
    border-radius: 8px;
    width: 500px;
    height: 30px;
    padding: 2px;
    margin: 8px;
}

.btn_confirm{
    width: 200px;
    height: 40px;
    background-color: #068F14;
    border: 0;
}

.form{
    width: 520px;
}

/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .container {
        width: 600px;
    }

    .container h1{
        font-size: 16px;
    }    

    section{
        width: 596px;
        height: auto;
    }

    article{
        width: 595px;
        height: auto;
    }

    article ul {
        width: 590px;
        height: auto;
        padding: 6px;
    }

    article ul li{
        width: 180px;
        height: 240px;
        background-color: #AD0101;
        border-radius: 8px;
        margin: 6px; 
        display: inline;
    }

article img{
        width: 170px;
        height: 140px;
        border-radius: 8px;
        padding: 2px;
}

article h2{
    font-size: 14px;
    font-weight: bold;
    color: #F2E7E7;
    padding: 8px;
    width: 140px;
    margin-top: -5px;
}

article h3{
    font-size: 12px;
    padding: 6px;
}

article p{
    font-size: 10px;
    color: #F2E7E7;
    padding: 6px;
    width: 140px;
    height: 10px;
    float: left;
}

article span{
    font-size: 18px;
    font-weight: bold;
    color: #F2E7E7;
    padding: 8px;
    width: 120px;
    float: left;
}

.adiciona_pizza img{
    width: 26px;
    height: 26px;
    margin-top: -10px;
}
      
}
