<!DOCTYPE html>
<head>
    <title>Pedidos Já</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>      
            <div id="logo">
                <a href="#">
                    <img src="images/logo.png"/> 
                    <h1>Carrinho</h1>                    
                </a>
            </div>   
            <div id="carrinho">
                <a href="#">
                    <p>Meus pedidos</p>
                    <img src="images/carrinho.png"/>                    
                </a>
            </div>    
        </header>
        <section>
            <table>
                <tr>
                    <th>Item</th>
                    <th>Lanche</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Subtotal</th>
                    <th>Ação</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pizza de queijo</td>
                    <td>2</td>
                    <td>R$ 35,00</td>
                    <td>R$ 70,00</td>
                    <td><a href="#"><p class="exclui_item"><img src="images/lixeira.png"/></p></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pizza de queijo</td>
                    <td>1</td>
                    <td>R$ 35,00</td>
                    <td>R$ 70,00</td>
                    <td><a href="#"><p class="exclui_item"><img src="images/lixeira.png"/></p></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Pizza de queijo</td>
                    <td>1</td>
                    <td>R$ 35,00</td>
                    <td>R$ 70,00</td>
                    <td><a href="#"><p class="exclui_item"><img src="images/lixeira.png"/></p></a></td>
                </tr>
                
            </table>
            <div id="total">
                <h4>Total item: 3</h4>
                <h5>Valor total: R$ 210,00</h5>
                <span class="btn_final_pedido">
                    <a href="#">Finalizar pedido</a>
                </span> 
            </div>
            
        </section>
        <footer>
            <p>Cardápio online - Tô com fomeee! Desenvolvido por flavhio10@gmail.com</p>
        </footer>
    </div>
</body>
</html>