<!DOCTYPE html>
<head>
    <title>Pedidos Já</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>      
            <div id="logo">
                <a href="#">
                    <img src="images/logo.png"/> 
                    <h1>Pedidos Já</h1>                    
                </a>
            </div>    
            <div id="carrinho">
                <a href="#">
                    <p>Meus pedidos</p>
                    <img src="images/carrinho.png"/>                    
                </a>
            </div>    
        </header>
        <section>
            <article>                               
                <ul>    
                    <h3>Pizza</h3>                 
                    <li>                        
                        <img src="images/pizza.jpg"/>
                        <h2>Pizza de queijo</h2>
                        <p>Queijo, mussarela e tomate</p>
                        <span>R$ 35,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                    <li>
                        <img src="images/pizza.jpg"/>
                        <h2>Pizza de frango</h2>
                        <p>Queijo, mussarela e tomate</p>
                        <span>R$ 25,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                    <li>
                        <img src="images/pizza.jpg"/>
                        <h2>Pizza de batata</h2>
                        <p>Queijo, mussarela e tomate</p>
                        <span>R$ 35,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                </ul>
                
            </article>
            <article>                
                <ul>
                    <h3>Hamburguer</h3>  
                    <li>
                        <img src="images/hamburguer.jpeg"/>
                        <h2>Hamburguer de queijo</h2>
                        <p>Queijo, mussarela e tomate</p>
                        <span>R$ 35,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                    <li>
                        <img src="images/hamburguer.jpeg"/>
                        <h2>X-burguer</h2>
                        <p>Queijo, mussarela e tomate</p>
                        <span>R$ 45,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                    <li>
                        <img src="images/hamburguer.jpeg"/>
                        <h2>X-tudo</h2>
                        <p>Queijo, ovo e tomate</p>
                        <span>R$ 15,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                </ul>
            </article>
            <article>               
                <ul>
                    <h3>Bebidas</h3>  
                    <li>
                        <img src="images/cocacola.jpeg"/>
                        <h2>Pizza de queijo</h2>
                        <p>Queijo, mussarela e tomate</p>
                        <span>R$ 35,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                    <li>
                        <img src="images/guarana.jpeg"/>
                        <h2>Pizza de frango</h2>
                        <p>Queijo, mussarela e tomate</p>
                        <span>R$ 25,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                    <li>
                        <img src="images/tubaina.jpeg"/>
                        <h2>Pizza de batata</h2>
                        <p>Queijo, mussarela e tomate</p>
                        <span>R$ 35,00</span>
                        <a href="#"><p class="adiciona_pizza"><img src="images/add.png"/></p></a>
                    </li>
                </ul>
            </article>
        </section>
        <footer>
            <p>Cardápio online - Tô com fomeee! Desenvolvido por flavhio10@gmail.com</p>
        </footer>
    </div>
</body>
</html>